.template-rule {
  margin-bottom: 16px;
  padding-bottom: 8px;
  
  .b3-label {
    margin-bottom: 4px;
  }
  
  .b3-text-field {
    margin-bottom: 8px;
  }
}

.template-rules-container {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 8px;
}
